PartnerSEClient/xml-resources/web-service-references/PartnerReservationWebService/wsdl/localhost_8080/PartnerReservationWebService/PartnerReservationWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://webService/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://webService/" name="PartnerReservationWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://webService/" schemaLocation="http://localhost:8080/PartnerReservationWebService/PartnerReservationWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="search">
<part name="parameters" element="tns:search"/>
</message>
<message name="searchResponse">
<part name="parameters" element="tns:searchResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="printRoomType">
<part name="parameters" element="tns:printRoomType"/>
</message>
<message name="printRoomTypeResponse">
<part name="parameters" element="tns:printRoomTypeResponse"/>
</message>
<message name="getRoomType">
<part name="parameters" element="tns:getRoomType"/>
</message>
<message name="getRoomTypeResponse">
<part name="parameters" element="tns:getRoomTypeResponse"/>
</message>
<message name="searchRoom">
<part name="parameters" element="tns:searchRoom"/>
</message>
<message name="searchRoomResponse">
<part name="parameters" element="tns:searchRoomResponse"/>
</message>
<message name="viewReservationDetails">
<part name="parameters" element="tns:viewReservationDetails"/>
</message>
<message name="viewReservationDetailsResponse">
<part name="parameters" element="tns:viewReservationDetailsResponse"/>
</message>
<message name="ReservationNotFoundException">
<part name="fault" element="tns:ReservationNotFoundException"/>
</message>
<message name="createReservation">
<part name="parameters" element="tns:createReservation"/>
</message>
<message name="createReservationResponse">
<part name="parameters" element="tns:createReservationResponse"/>
</message>
<message name="viewAllReservations">
<part name="parameters" element="tns:viewAllReservations"/>
</message>
<message name="viewAllReservationsResponse">
<part name="parameters" element="tns:viewAllReservationsResponse"/>
</message>
<message name="createReservation2">
<part name="parameters" element="tns:createReservation2"/>
</message>
<message name="createReservation2Response">
<part name="parameters" element="tns:createReservation2Response"/>
</message>
<message name="getStartAndEndDate">
<part name="parameters" element="tns:getStartAndEndDate"/>
</message>
<message name="getStartAndEndDateResponse">
<part name="parameters" element="tns:getStartAndEndDateResponse"/>
</message>
<portType name="PartnerReservationWebService">
<operation name="search">
<input wsam:Action="http://webService/PartnerReservationWebService/searchRequest" message="tns:search"/>
<output wsam:Action="http://webService/PartnerReservationWebService/searchResponse" message="tns:searchResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://webService/PartnerReservationWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://webService/PartnerReservationWebService/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="printRoomType">
<input wsam:Action="http://webService/PartnerReservationWebService/printRoomTypeRequest" message="tns:printRoomType"/>
<output wsam:Action="http://webService/PartnerReservationWebService/printRoomTypeResponse" message="tns:printRoomTypeResponse"/>
</operation>
<operation name="getRoomType">
<input wsam:Action="http://webService/PartnerReservationWebService/getRoomTypeRequest" message="tns:getRoomType"/>
<output wsam:Action="http://webService/PartnerReservationWebService/getRoomTypeResponse" message="tns:getRoomTypeResponse"/>
</operation>
<operation name="searchRoom">
<input wsam:Action="http://webService/PartnerReservationWebService/searchRoomRequest" message="tns:searchRoom"/>
<output wsam:Action="http://webService/PartnerReservationWebService/searchRoomResponse" message="tns:searchRoomResponse"/>
</operation>
<operation name="viewReservationDetails">
<input wsam:Action="http://webService/PartnerReservationWebService/viewReservationDetailsRequest" message="tns:viewReservationDetails"/>
<output wsam:Action="http://webService/PartnerReservationWebService/viewReservationDetailsResponse" message="tns:viewReservationDetailsResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://webService/PartnerReservationWebService/viewReservationDetails/Fault/ReservationNotFoundException"/>
</operation>
<operation name="createReservation">
<input wsam:Action="http://webService/PartnerReservationWebService/createReservationRequest" message="tns:createReservation"/>
<output wsam:Action="http://webService/PartnerReservationWebService/createReservationResponse" message="tns:createReservationResponse"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://webService/PartnerReservationWebService/createReservation/Fault/ReservationNotFoundException"/>
</operation>
<operation name="viewAllReservations">
<input wsam:Action="http://webService/PartnerReservationWebService/viewAllReservationsRequest" message="tns:viewAllReservations"/>
<output wsam:Action="http://webService/PartnerReservationWebService/viewAllReservationsResponse" message="tns:viewAllReservationsResponse"/>
</operation>
<operation name="createReservation2">
<input wsam:Action="http://webService/PartnerReservationWebService/createReservation2Request" message="tns:createReservation2"/>
<output wsam:Action="http://webService/PartnerReservationWebService/createReservation2Response" message="tns:createReservation2Response"/>
<fault message="tns:ReservationNotFoundException" name="ReservationNotFoundException" wsam:Action="http://webService/PartnerReservationWebService/createReservation2/Fault/ReservationNotFoundException"/>
</operation>
<operation name="getStartAndEndDate">
<input wsam:Action="http://webService/PartnerReservationWebService/getStartAndEndDateRequest" message="tns:getStartAndEndDate"/>
<output wsam:Action="http://webService/PartnerReservationWebService/getStartAndEndDateResponse" message="tns:getStartAndEndDateResponse"/>
</operation>
</portType>
<binding name="PartnerReservationWebServicePortBinding" type="tns:PartnerReservationWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="search">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="printRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRoomType">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="searchRoom">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewReservationDetails">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="createReservation">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="viewAllReservations">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="createReservation2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ReservationNotFoundException">
<soap:fault name="ReservationNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="getStartAndEndDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="PartnerReservationWebService">
<port name="PartnerReservationWebServicePort" binding="tns:PartnerReservationWebServicePortBinding">
<soap:address location="http://localhost:8080/PartnerReservationWebService/PartnerReservationWebService"/>
</port>
</service>
</definitions>